/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    font-size: small;
}

.outer-layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
  }

.layout-container {
display: flex;
flex-direction: row;
justify-content: center; /* Center the children horizontally */
align-items: center; /* Center the children vertically */
overflow-x: auto;
}

.settings-container {
width: 100vw; /* Ensure it takes up the full width */
}

#app {
    max-width: 1200px;
    /* margin: 0 auto; Center the container horizontally */
    display: flex; /* Use flexbox for layout */
    gap: 20px;
}

/* Style for the disease class container to lay out items in a row */
.disease-class-container {
    display: flex; /* Use flexbox for a horizontal layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 20px; /* Space between items */
    padding: 10px 0; /* Padding on top and bottom */
}

/* Style for individual disease class items */
.disease-class {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align the text and the box vertically */
    gap: 5px; /* Space between the color box and the label */
}

/* Style for the color box that precedes the label */
.disease-class-color-box {
    width: 20px; /* Width of the color box */
    height: 20px; /* Height of the color box */
    background-color: #000; /* Placeholder color, this will be set dynamically */
    border: 1px solid #000; /* Border to distinguish box when color is light */
    flex-shrink: 0; /* Prevent the color box from shrinking */
}

/* Style for the label next to the color box */
.disease-class-label {
    display: inline-block; /* Adjust width automatically depending on text */
    white-space: nowrap; /* Prevent text from wrapping to new lines */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
    font-size: 0.9rem; /* Smaller font size */
    color: #333; /* Color for the label */
}

/* Style for the label next to the color box */
.disease-class-label {
    display: inline-block; /* Adjust width automatically depending on text */
    
    font-size: 0.9rem; /* Smaller font size */
    color: #333; /* Color for the label */
}

.dimmed {
    opacity: 0.6; /* Reduce opacity to dim the element */
    filter: grayscale(100%); /* Turn the element grayscale */
    pointer-events: none; /* Disable pointer events on dimmed elements */
}

.disease-class:hover .disease-class-color-box {
    background-color: #666; /* Darken the color box on hover */
}

.disease-class:hover .disease-class-label {
    color: #555; /* Change label color on hover */
}

/* Styling for the disease class and disease containers */
.diseases-container {
    display: grid;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ccc; /* Add a border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a nice shadow */
    padding: 10px;
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.disease {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #e6f4f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.disease:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.organ-name {
    font-weight: bold;
    margin: none;
}

.cell-type {
    color: #555;
    margin: none;
}

/* Transitions for details and gender ratio text */
.disease .organ-name,
.disease .cell-type,
.disease .disease-name,
.disease .gender-ratio-text {
  transition: opacity 0.5s ease, transform 0.5s ease, display 0.5s;
}

/* Hidden state for gender ratio text by default */
.disease .gender-ratio-text {
    display: none; /* Hidden by default */
    opacity: 0; /* Fully transparent */
    transform: translateY(10px); /* Positioned slightly above */
    transition: opacity 0.3s ease, transform 0.3s ease, display 0s 0.3s; /* Transition for smooth effect */
  }

/* When the disease is showing gender ratio, we adjust the styles */
.disease.show-ratio .gender-ratio-text {
    display: block; /* Shown */
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Reset to original position */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for smooth effect */
}

/* When showing the gender ratio, other details are hidden */
.disease.show-ratio .organ-name,
.disease.show-ratio .cell-type {
  display: none;
  opacity: 0;
  transform: translateY(10px);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.toggle-container {
    display: flex;
    align-items: center;
}
  
.switch-label {
font-size: 1.5rem; /* Adjust the font size as needed */
color: #333; /* Adjust the color as needed */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #8BC34A; /* Green color for the slider */
}

input:focus + .slider {
    box-shadow: 0 0 1px #8BC34A;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider:active:before {
    width: 32px; /* Slightly larger circle on the slider when clicked */
}
  
.disease-class:hover .gender-ratio-text {
    opacity: 1; /* Fully visible on hover */
    visibility: visible; /* Visible on hover */
}

.disease-name {
    color: #d9534f;
    margin: none;
}

.selected-disease {
    font-size: large;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #e6f4f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden; /* Hide overflowing content */
    max-width: 100%; /* Ensure the selected disease is not wider than the diseases elements */
    width: 200px; /* Set the width to match the disease elements */
    height: 200px; /* Set the height to match the disease elements */
    margin: 0 auto; /* Center the selected disease panel horizontally */
    color: #333; /* Set the text color to match the disease elements */
}

.selected-disease-container {
    flex-basis: 200px; /* Set a fixed width for the selected disease panel */
    padding-right: 20px; /* Add some right padding to separate from other content */
    overflow-y: auto; /* Enable vertical scrolling for the selected disease panel */
}

.selected-disease-content {
    height: 100%; /* Set the height of the content container */
    overflow-y: auto; /* Enable vertical scrolling for content */
}

.selected-disease:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.selected-disease .organ-name,
.selected-disease .cell-type {
    color: #555; /* Set the color for organ name and cell type */
}

.selected-disease .disease-name {
    color: #d9534f; /* Set the color for the disease name */
}

.selected-disease-panel {
    height: auto; /* Auto height for smaller screens */
    order: -1; /* Make the selected disease panel appear first */
    align-self: flex-start; /* Align the selected disease panel to the start (left) */
}

/* Responsive adjustments */
/* Adjustments for smaller screens */
/* Responsive adjustments */
@media (max-width: 900px) {
    .outer-layout-container {
      flex-direction: column;
    }
  
    .layout-container {
      flex-direction: column;
    }
  
    .content-container {
      display: flex;
      flex-direction: column;
    }

    .disease-class-container {
        flex-direction: row; /* Keep it horizontal */
        flex-wrap: wrap; /* Allow wrapping into multiple rows */
        justify-content: flex-start; /* Align items to the left */
        overflow-x: auto; /* Allow horizontal scrolling */
        width: 100%; /* Set width to 100% of the screen */
        max-width: 100vw; /* Ensure it doesn't exceed the viewport width */
        box-sizing: border-box; /* Include padding and border in the element's total width */
        gap: 20px; /* Maintain gap between items */
        margin-left: 10px;
    }

  
    .selected-disease-container {
      order: -1; /* Move the selected disease container above the table */
      width: 100vw; /* Set width to 100% of the screen */
      display: flex;
      justify-content: center; /* Center the selected disease panel horizontally */
    }

    .settings-container {
        width: 100vw; /* Ensure it takes up the full width */
    }
  
    .selected-disease {
      width: 150px; /* Adjust width as needed */
      height: 150px; /* Adjust height as needed */
      margin: 0 auto; /* Center the selected disease panel horizontally */
    }

    .disease {
        width: 80px; /* Adjust width as needed */
        height: 80px; /* Adjust height as needed */
        font-size: smaller;
    }
}
  
.diseases-container > div {
    overflow: auto;
    white-space: normal;
    word-wrap: break-word;
    hyphens: auto;
}
